@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

#root {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: black;
  color: white;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navbar {
  background-color: black !important;
  color: white !important;
}
.card {
  background-color: black !important;
}

.main-card-wrapper {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 1rem;
  scroll-snap-type: x mandatory;
  padding: 1rem 0;
  max-width: 100%;
  height: 520px;
  padding-bottom: 3pxs;
}
.main-card-wrapper::-webkit-scrollbar {
  height: 8px;
}

.main-card-wrapper::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
.vehicle-card,
.character-card,
.planet-card {
  flex: 0 0 calc(25% - 1rem);
  scroll-snap-align: start;
  min-width: 250px;
  max-width: 300px;
  height: 480px;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
}
.character-card .main-card-image,
.planet-card .main-card-image,
.vehicle-card .main-card-image {
  height: 80%;
  overflow: hidden;
}
.character-card .main-card-image img,
.planet-card .main-card-image img,
.vehicle-card .main-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5px;
}
.character-card .card-body,
.planet-card .card-body,
.vehicle-card .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.detailed-card-image {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailed-card-image img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 2000;
}
